/* Add CSS Styling */
.odd {
    background-color: hsl(0, 81%, 81%);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.bigger {
    font-size: 24px;
}

#second {
    color: rgb(7, 30, 238);
    font-size: 36px;
}

#fourth {
    background-color: #85f485;
    font-size: 24px;
    font-weight: bold;
}