body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 4;
  display: flex;
  align-items: stretch;
}

ul {
  list-style-type: none;
  padding-left: 16px;
}

ul a {
  text-decoration: none;
  color: #fff;
}

li {
  font-size: 21px;
  padding-bottom: 16px;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
}

.content {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-content: stretch;
  padding: 48px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  font-size: 16px;
  flex: 0 1 300px;
  padding: 16px;
}